<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Transport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
      </li>



      <ng-container *ngIf="isAuthenthicated; then loggedIn; else loggedOut">
      </ng-container>

      <ng-template #loggedOut>
        <li class="nav-item">
          <a class="nav-link" href="auth">Войти</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="registration">Зарегистриров</a>
        </li> -->
      </ng-template>

      <ng-template #loggedIn>

        <ng-container *ngIf="isAdmin ; then Admin; else User">

        </ng-container>


        <ng-template #Admin>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown05" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Маршруты</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="admin/parent">Добавление маршрутов</a>
              <a class="dropdown-item" href="admin/viewmaps">Просмотр всех маршрутов</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown05" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Транспорт</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="admin/addtransport">Добавление транспорта</a>
              <a class="dropdown-item" href="admin/viewtransports">Просмотр всего транспорта</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown05" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Компании</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="admin/addcompany">Добавление компаний</a>
              <a class="dropdown-item" href="admin/viewcompanies">Просмотр всех компаний</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown05" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Точки</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="admin/addpoint">Добавление точек</a>
              <a class="dropdown-item" href="admin/viewpoint">Просмотр всех точек</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown05" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Пользователи</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="admin/adduser">Добавление пользователя</a>
              <a class="dropdown-item" href="admin/viewusers">Просмотр всех пользователей</a>
            </div>
          </li>



        </ng-template>

        <ng-template #User>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/user">Профиль</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="user/calculate">Калькулятор</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="user/orders">Заказы</a>
          </li>
        </ng-template>

        <li class="nav-item">
          <a class="nav-link waves-effect" (click)="logout()"> <i class="fa fa-door icon"></i>Выйти</a>
        </li>

      </ng-template>

    </ul>

  </div>
</nav>