<p>add-company works!</p>
<div class="container">
    <h2 class="text-center">Добавление компании</h2>
    <form [formGroup]="addCompanyForm" role="form" class="form-group" novalidate>

        <div class="form-group">
            <label class="control-label" for="name_company">Название компании</label>
            <input formControlName="name_company" class="form-control name_company" type="text" #name_company>
        </div>
        <div *ngIf="addCompanyForm.controls['name_company'].invalid && (addCompanyForm.controls['name_company'].dirty || addCompanyForm.controls['name_company'].touched)"
            class="alert alert-danger">
            <div *ngIf="addCompanyForm.controls['name_company'].errors.required">
                Заполните данное поле!
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="phone_number_company">Номер телефона</label>
            <input formControlName="phone_number_company" class="form-control phone_number_company" type="text"
                #phone_number_company>
        </div>
        <div *ngIf="addCompanyForm.controls['phone_number_company'].invalid && (addCompanyForm.controls['phone_number_company'].dirty || addCompanyForm.controls['phone_number_company'].touched)"
            class="alert alert-danger">
            <div *ngIf="addCompanyForm.controls['phone_number_company'].errors.required">
                Заполните данное поле!
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="email_company">Email</label>
            <input formControlName="email_company" class="form-control email_company" type="email" #email_company>
        </div>
        <div *ngIf="addCompanyForm.controls['email_company'].invalid && (addCompanyForm.controls['email_company'].dirty || addCompanyForm.controls['email_company'].touched)"
            class="alert alert-danger">
            <div *ngIf="addCompanyForm.controls['email_company'].errors.required">
                Заполните данное поле!
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="
            type_transportation_company">Тип перевозки</label>
            <select class="form-control" name="type_transportation_company" id="type_transportation_company" [(ngModel)]="type_transportation_company"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let type of types" [value]="type.type_transportation_company">
                    {{type.type_transportation_company}}
                </option>
            </select>
        </div>
        <div *ngIf="addCompanyForm.controls['type_transportation_company'].invalid && (addCompanyForm.controls['type_transportation_company'].dirty || addCompanyForm.controls['type_transportation_company'].touched)"
            class="alert alert-danger">
            <div *ngIf="addCompanyForm.controls['type_transportation_company'].errors.required">
                Заполните данное поле!
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="description_company">Описание компании</label>
            <textarea formControlName="description_company" class="form-control description_company" type="email"
                #description_company></textarea>
        </div>
        <div *ngIf="addCompanyForm.controls['description_company'].invalid && (addCompanyForm.controls['description_company'].dirty || addCompanyForm.controls['description_company'].touched)"
            class="alert alert-danger">
            <div *ngIf="addCompanyForm.controls['description_company'].errors.required">
                Заполните данное поле!
            </div>
        </div>

        <div class="form-group justify-content-center align-items-center text-center">
            <button
                (click)="add_company(name_company.value, phone_number_company.value, email_company.value, type_transportation_company, description_company.value)"
                class="btn btn-primary">
                Добавить
            </button>
        </div>

    </form>

</div>