<p>add-map works!</p>

<div class="container">
    <h2 class="text-center">Добавление маршрута</h2>

    <form [formGroup]="form">

        <div>

            <button (click)="add_rout()">Добавить точку</button>

            <div formArrayName="routs" *ngFor="let creds of form.controls.routs?.value; let i = index">
                <ng-container [formGroupName]="i">
                    <label for="start_point">Начальная точка</label>
                    <input formControlName="start_point">
                    <!-- <mat-select>
                        <ngx-mat-select-search></ngx-mat-select-search>
                        <mat-option *ngFor="let point of points | async" [value]="point">
                            {{point.name_point}}
                        </mat-option>
                    </mat-select> -->
                    <!-- <mat-select [formControl]="form">
                        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                        <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                          {{bank.name}}
                        </mat-option>
                    </mat-select> -->
                    <label for="end_point">Конечная точка</label>
                    <input formControlName="end_point">
                    <label for="distance">Расстояние</label>
                    <input type="text" formControlName="distance">

                    <input type="text" formControlName="transport">
                </ng-container>
            </div>

        </div>

        <button (click)="submit(form)">Добавить маршрут</button>
    </form>
</div>