<p>add-map works!</p>

<div class="container">
    <h2 class="text-center">Добавление маршрута</h2>

    <form [formGroup]="addMapForm" role="form" class="form-group" novalidate>

        <div class="form-group">
            <label class="control-label" for="start_point">Пункт отправления</label>
            <select class="form-control" name="start_point" id="start_point" [(ngModel)]="start_point"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let point of points" [value]="point.name_point">
                    {{point.name_point}}
                </option>
            </select>
        </div>
        <div *ngIf="addMapForm.controls['start_point'].invalid && (addMapForm.controls['start_point'].dirty || addMapForm.controls['start_point'].touched)"
            class="alert alert-danger">
            <div *ngIf="addMapForm.controls['start_point'].errors.required">
                Заполните данное поле!
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="end_point">Пункт доставки</label>
            <select class="form-control" name="end_point" id="end_point" [(ngModel)]="end_point"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let point of points" [value]="point.name_point">
                    {{point.name_point}}
                </option>
            </select>
        </div>
        <div *ngIf="addMapForm.controls['end_point'].invalid && (addMapForm.controls['end_point'].dirty || addMapForm.controls['end_point'].touched)"
            class="alert alert-danger">
            <div *ngIf="addMapForm.controls['end_point'].errors.required">
                Заполните данное поле!
            </div>
        </div>

        <div class="form-group justify-content-center align-items-center text-center">
            <button
                (click)="add_map(start_point, end_point)"
                class="btn btn-primary">
                Добавить
            </button>
        </div>

    </form>

</div>