<div class="container">
    <h2 class="text-center" style="margin: 10px;">Регистрация</h2>

    <form [formGroup]="registrationForm" role="form" class="form-group" novalidate>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="first_name">Имя</label>
                    <input formControlName="first_name" class="form-control first_name" type="text" #first_name>
                </div>
                <div *ngFor="let validation of account_validation_messages.first_name">
                    <div class="alert alert-danger" *ngIf="registrationForm.get('first_name').hasError(validation.type) &&
                               (registrationForm.get('first_name').dirty ||
                               registrationForm.get('first_name').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="last_name">Фамилия</label>
                    <input formControlName="last_name" class="form-control last_name" type="text" #last_name>
                </div>
                <div *ngFor="let validation of account_validation_messages.last_name">
                    <div class="alert alert-danger" *ngIf="registrationForm.get('last_name').hasError(validation.type) &&
                                   (registrationForm.get('last_name').dirty ||
                                   registrationForm.get('last_name').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="phone_number">Телефон</label>
                    <input formControlName="phone_number" class="form-control phone_number" type="text" #phone_number>
                </div>
                <div *ngFor="let validation of account_validation_messages.phone_number">
                    <div class="alert alert-danger" *ngIf="registrationForm.get('phone_number').hasError(validation.type) &&
                                       (registrationForm.get('phone_number').dirty ||
                                       registrationForm.get('phone_number').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="last_name">Email</label>
                    <input formControlName="email" class="form-control email" type="email" #email>
                </div>
                <div *ngFor="let validation of account_validation_messages.email">
                    <div class="alert alert-danger" *ngIf="registrationForm.get('email').hasError(validation.type) &&
                                           (registrationForm.get('email').dirty ||
                                           registrationForm.get('email').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="password">Пароль</label>
                    <input formControlName="password" class="form-control password" type="password" #password>
                </div>
                <div *ngFor="let validation of account_validation_messages.password">
                    <div class="alert alert-danger" *ngIf="registrationForm.get('password').hasError(validation.type) &&
                                               (registrationForm.get('password').dirty ||
                                               registrationForm.get('password').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group justify-content-center align-items-center text-center">
            <button
                (click)="registration(first_name.value, last_name.value, email.value, password.value, phone_number.value)"
                class="btn btn-primary">
                Зарегистрироваться
            </button>
        </div>

    </form>

</div>