<div class="container">
    <h1 class="text-center"></h1>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Номер телефона</th>
                <th>Роль</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i=index">
                <td>{{i+1}}</td>
                <td>{{ user.first_name}}</td>
                <td>{{ user.last_name}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.phone_number}}</td>
                <td>{{ user.role}}</td>
                <td><a (click)="open_modal(template, user.id)" class="btn"><span class="fa fa-edit fa-2x"></span></a>
                </td>
                <td><a (click)="delete_user(user.id)" class="btn"><span class="fa fa-trash-o fa-2x"></span></a></td>
            </tr>
        </tbody>
    </table>
    <ng-template #template>
        <div class="modal-header">
            <h5>Редактирование</h5>
            <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form [formGroup]="addUserForm" role="form" class="form-group" novalidate>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label" for="first_name">Имя</label>
                            <input formControlName="first_name" class="form-control first_name"
                                [(ngModel)]="res.first_name" [value]="res.first_name" type="text" #first_name>
                        </div>
                        <div *ngFor="let validation of account_validation_messages.first_name">
                            <div class="alert alert-danger" *ngIf="addUserForm.get('first_name').hasError(validation.type) &&
                               (addUserForm.get('first_name').dirty ||
                               addUserForm.get('first_name').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label" for="last_name">Фамилия</label>
                            <input formControlName="last_name" class="form-control last_name"
                                [(ngModel)]="res.last_name" [value]="res.last_name" type="text" #last_name>
                        </div>
                        <div *ngFor="let validation of account_validation_messages.last_name">
                            <div class="alert alert-danger" *ngIf="addUserForm.get('last_name').hasError(validation.type) &&
                                   (addUserForm.get('last_name').dirty ||
                                   addUserForm.get('last_name').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label" for="role">Роль</label>
                            <select class="form-control" name="role" id="role" [(ngModel)]="role"
                                [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let role of roles" [value]="role.name">
                                    {{role.name}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="addUserForm.controls['role'].invalid && (addUserForm.controls['role'].dirty || addUserForm.controls['role'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="addUserForm.controls['role'].errors.required">
                                Заполните данное поле!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label" for="phone_number">Телефон</label>
                            <input formControlName="phone_number" class="form-control phone_number" type="text"
                                [(ngModel)]="res.phone_number" [value]="res.phone_number" #phone_number>
                        </div>
                        <div *ngFor="let validation of account_validation_messages.phone_number">
                            <div class="alert alert-danger" *ngIf="addUserForm.get('phone_number').hasError(validation.type) &&
                                       (addUserForm.get('phone_number').dirty ||
                                       addUserForm.get('phone_number').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label" for="last_name">Email</label>
                            <input formControlName="email" class="form-control email" type="email"
                                [(ngModel)]="res.email" [value]="res.email" #email>
                        </div>
                        <div *ngFor="let validation of account_validation_messages.email">
                            <div class="alert alert-danger" *ngIf="addUserForm.get('email').hasError(validation.type) &&
                                           (addUserForm.get('email').dirty ||
                                           addUserForm.get('email').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label" for="password">Пароль</label>
                            <input formControlName="password" class="form-control password" [(ngModel)]="res.password"
                                [value]="res.password" type="password" #password>
                        </div>
                        <div *ngFor="let validation of account_validation_messages.password">
                            <div class="alert alert-danger" *ngIf="addUserForm.get('password').hasError(validation.type) &&
                                               (addUserForm.get('password').dirty ||
                                               addUserForm.get('password').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Отменить</button>
            <button type="button" class="btn btn-primary"
                (click)="save(first_name.value, last_name.value, email.value, password.value, role, phone_number.value)">Сохранить</button>
        </div>
    </ng-template>
</div>