<p>admin works!</p>
<div>
    <a class="btn btn-outline-primary" href="/admin/addcompany">Добавить компанию</a>
    <a class="btn btn-outline-primary" href="/admin/viewcompanies">Все компании</a>
    <a class="btn btn-outline-primary" href="/admin/addtransport">Добавить транспорт</a>
    <a class="btn btn-outline-primary" href="admin/viewtransports">Весь транспорт</a>
    <a class="btn btn-outline-primary" href="admin/viewmaps">Все маршруты</a>
    <a class="btn btn-outline-primary" href="admin/adduser">Добавить пользователя</a>
    <a class="btn btn-outline-primary" href="admin/viewusers">Все пользователи</a>
    <a class="btn btn-outline-primary" href="admin/parent">Добавить маршрут</a>
</div>
<router-outlet></router-outlet>