<div class="container justify-content-center align-items-center">

    <h2 class="text-center">Добавление транспорта</h2>

    <form [formGroup]="addTransportForm" role="form" class="form-group" novalidate>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="name_transport">Название транспорта</label>
                    <input formControlName="name_transport" class="form-control name_transport" type="text"
                        #name_transport>
                </div>
                <div *ngFor="let validation of account_validation_messages.name_transport">
                    <div class="alert alert-danger" *ngIf="addTransportForm.get('name_transport').hasError(validation.type) &&
                   (addTransportForm.get('name_transport').dirty ||
                   addTransportForm.get('name_transport').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="id_company">Компания</label>
                    <select class="form-control" name="id_company" id="id_company" [(ngModel)]="id_company"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let company of companies" [value]="company.id">
                            {{company.name_company}}
                        </option>
                    </select>
                </div>
                <div *ngIf="addTransportForm.controls['id_company'].invalid && (addTransportForm.controls['id_company'].dirty || addTransportForm.controls['id_company'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="addTransportForm.controls['id_company'].errors.required">
                        Заполните данное поле!
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="speed">Скорость (км/ч)</label>
                    <input formControlName="speed" class="form-control speed" type="text" #speed>
                </div>
                <div *ngFor="let validation of account_validation_messages.speed">
                    <div class="alert alert-danger" *ngIf="addTransportForm.get('speed').hasError(validation.type) &&
                       (addTransportForm.get('speed').dirty ||
                       addTransportForm.get('speed').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="max_weight">Max вместимость (кг)</label>
                    <input formControlName="max_weight" class="form-control max_weight" type="text" #max_weight>
                </div>
                <div *ngFor="let validation of account_validation_messages.max_weight">
                    <div class="alert alert-danger" *ngIf="addTransportForm.get('max_weight').hasError(validation.type) &&
                           (addTransportForm.get('max_weight').dirty ||
                           addTransportForm.get('max_weight').touched)">
                        {{validation.message}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="tariff_plan">Тариф (руб/км)</label>
                    <input formControlName="tariff_plan" class="form-control tariff_plan" type="text" #tariff_plan>
                </div>
                <div *ngFor="let validation of account_validation_messages.tariff_plan">
                        <div class="alert alert-danger" *ngIf="addTransportForm.get('tariff_plan').hasError(validation.type) &&
                           (addTransportForm.get('tariff_plan').dirty ||
                           addTransportForm.get('tariff_plan').touched)">
                            {{validation.message}}
                        </div>
                    </div>
            </div>
        </div>

        <div class="form-group justify-content-center align-items-center text-center">
            <button
                (click)="add_transport(name_transport.value, speed.value, id_company, max_weight.value, tariff_plan.value)"
                class="btn btn-primary">
                Добавить
            </button>
        </div>

    </form>

</div>