<div class="container">
    <h1 class="text-center"></h1>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Расстояние</th>
                <th>Время</th>
                <th>Стоимость</th>
                <th>Подробнее</th>
                <!-- <th>Изменить</th>
                <th>Удалить</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let map of maps; let i=index">
                <td>{{i+1}}</td>
                <td>{{ map.start_point}}</td>
                <td>{{ map.end_point}}</td>
                <td>{{ map.distance}}</td>
                <td>{{ map.time}}</td>
                <td>{{ map.cost}}</td>
                <td><a (click)="openModal(template, map.id)" class="btn"><span
                            class="fa fa-info-circle fa-2x"></span></a>
                </td>

                <!-- <td><a [routerLink]="['./editmap', map.id]" class="btn"><span
                            class="fa fa-edit fa-2x"></span></a></td> -->
                <!-- <td><a (click)="delete_map(map.id)" class="btn"><span class="fa fa-trash fa-2x"></span></a></td> -->
            </tr>
        </tbody>
    </table>
    <hr>
    <ng-template #template>

        <div class="modal-header">
            <h5 class="text-center">Маршрут {{map.start_point}} - {{map.end_point}}</h5>
            <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- <ul>
                <li *ngFor="let  of heroes">
                    {{ hero }}
                </li>
            </ul> -->
            <!-- <form [formGroup]="depForm" novalidate>
              <div class="form-group">
                <label>Название департамента</label>
                <input type="text" class="form-control" formControlName="departement_name" #departement_name
                  [(ngModel)]="res.departement_name" [value]="res.departement_name" />
              </div>
              <div
                *ngIf="depForm.controls['departement_name'].invalid && (depForm.controls['departement_name'].dirty || depForm.controls['departement_name'].touched)"
                class="alert alert-danger">
                <div *ngIf="depForm.controls['departement_name'].errors.required">
                  Поле "Название департамента" пусто!
                </div>
              </div>
            </form> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Отменить</button>
        </div>
    </ng-template>
    <router-outlet></router-outlet>
</div>