<p>add-points works!</p>
<h2>Маршрут от
    <p>{{map.start_point}}</p>
    до
    <p>{{map.end_point}}</p>
</h2>
<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

    <div formArrayName="points">
        <div class="form-group" *ngFor="let point of myForm.controls['points'].controls; let i = index">
            <label>Промежуточная точка</label>
            <input class="form-control" formControlName="{{i}}" />
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default" (click)="addPoint()">
            Добавить точку
        </button>
        <button class="btn btn-default" [disabled]="myForm.invalid">
            Отправить
        </button>
    </div>
</form>
